<!-- start: Page Title -->
<div id="page-title">
    <div id="page-title-inner">
        <!-- start: Container -->
        <div class="container">
            <h2><i class="ico-stats ico-white"></i>About Us</h2>
        </div>
        <!-- end: Container  -->
    </div>
</div>
<!-- end: Page Title -->
<!--start: Wrapper-->
<div id="wrapper">

    <!--start: Container -->
    <div class="container">

        <!--start: Row -->
        <div class="row">

            <div class="span8">

                <!-- start: About Us -->
                <div id="about">
                    <div class="title"><h3>About Us</h3></div>
                    <p>
                        Three HM (3HM) is a pest control company that helps you get a insect/rodent free environment for your home and workplace without any harmful after-effects that are health-damaging.
                    </p>
                    <p>
                        3HM conducts effective pest control and fumigation using 100% organic, non-toxic pest control agents. These organic compounds have been created from herbs and leaves and have not a drop of chemicals. Which means, the inhabitants of the pest controlled area can live and work without incurring health problems such as dizzyness, allergy, sneezing, cardio-vascular diseases, respiratory diseases etc.
                    </p>
                    <p>
                        3HM is manned by knowledgeable, qualified, experienced and professional team that has worked extensively on residential and commercial pest control services. We, at HM, are able to give you customized services package that suit your need as well as the needs of your establishment be it your home, resident apartment society or your office. Being completely organic, every pest termination or control process conforms with the environmental protocols. The compound is patented and approved and certified by international agencies.
                    </p>
                </div>
                <!-- end: About Us -->
                <!-- start: Team -->
                <div id="team">

                    <div class="title"><h3>Team</h3></div>

                    <!-- start: Row -->
                    <div class="row">

                        <!-- start: About Member -->
                        <div class="span4">
                            <div class="avatar view-team">
                                <img src="~/img/team_member.jpg" alt="team member">
                                <div class="mask">
                                    <h2>About Me</h2>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                                    </p>
                                    <a href="#" class="info">My Personal Page</a>
                                </div>
                            </div>
                            <div class="clear"></div>
                            <div class="team-name">Lucas Luck <span> / Co-Founder, General Manager</span></div>
                            <div class="social_profiles">
                                <ul class="social-bookmarks">
                                    <li class="facebook"><a href="">facebook</a></li>
                                    <li class="googleplus"><a href="#">googleplus</a></li>
                                    <li class="twitter"><a href="#">twitter</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- end: About Member -->
                        <!-- start: About Member -->
                        <div class="span4">
                            <div class="avatar view-team">
                                <img src="~/img/team_member.jpg" alt="team member">
                                <div class="mask">
                                    <h2>About Me</h2>
                                    <p>
                                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.
                                    </p>
                                    <a href="#" class="info">My Personal Page</a>
                                </div>
                            </div>
                            <div class="clear"></div>
                            <div class="team-name">Lucas Luck <span> / Co-Founder, Project Manager</span></div>
                            <div class="social_profiles">
                                <ul class="social-bookmarks">
                                    <li class="facebook"><a href="">facebook</a></li>
                                    <li class="googleplus"><a href="#">googleplus</a></li>
                                    <li class="twitter"><a href="#">twitter</a></li>
                                </ul>
                            </div>
                        </div>
                        <!-- end: About Member -->

                    </div>
                    <!-- end: Row -->
                </div>
                <!-- end: Team -->


            </div>

            <div class="span4">

                <!-- start: Sidebar -->
                <div id="sidebar">
                    <!-- start: Testimonials-->
                    <div class="testimonial-container">
                        <div class="title"><h3>Testimonials</h3></div>
                        <div class="testimonials-carousel" data-autorotate="3000">
                            <ul class="carousel">
                                <li class="testimonial">
                                    <div class="testimonials">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</div>
                                    <div class="testimonials-bg"></div>
                                    <div class="testimonials-author">Lucas Luck, <span>CEO</span></div>
                                </li>
                                <li class="testimonial">
                                    <div class="testimonials">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</div>
                                    <div class="testimonials-bg"></div>
                                    <div class="testimonials-author">Lucas Luck, <span>CTO</span></div>
                                </li>
                                <li class="testimonial">
                                    <div class="testimonials">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</div>
                                    <div class="testimonials-bg"></div>
                                    <div class="testimonials-author">Lucas Luck, <span>COO</span></div>
                                </li>
                                <li class="testimonial">
                                    <div class="testimonials">Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat. Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo consequat.</div>
                                    <div class="testimonials-bg"></div>
                                    <div class="testimonials-author">Lucas Luck, <span>CMO</span></div>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- end: Testimonials-->
                </div>
                <!-- end: Sidebar -->

            </div>

        </div>
        <!--end: Row-->

    </div>
    <!--end: Container-->
    <!--start: Container -->
    <div class="container">
        <hr>

    </div>
    <!--end: Container-->
</div>
<!-- end: Wrapper  -->		