@{
    ViewBag.Title = "Services";
}
<div id="page-title">
    <div id="page-title-inner">
        <!-- start: Container -->
        <div class="container">
            <h2><i class="ico-euro ico-white"></i>Business Opportunity</h2>
        </div>
        <!-- end: Container  -->
    </div>
</div>
<div id="wrapper">

    <!--start: Container -->
    <div class="container">

        <!-- start: Row -->
        <div class="span8" style="font-size:1.3em;">
            <p>
                <img src="~/img/3HMlogo.png" style="height:40px;" alt="Logo"> offers non-toxic/organic pest control solutions and has multiple business opportunities

                available to first-time and experienced business owners alike. Through this pest control business

                opportunity you&#39;ll be trained in Integrated Pest Management that is organic and green pest control.
            </p>
            <br />
            <br />
            <p>
                <img src="~/img/3HMlogo.png" style="height:40px;" alt="Logo"> extermination products and program will allow you to increase your customer base and

                multiply your sales potential by offering services to residential and commercial customers, as well as

                other valuable sectors, in a way typical exterminators can&#39;t.

            </p>
            <br />
            <br />
            <p>
                <img src="~/img/3HMlogo.png" style="height:40px;" alt="Logo"> pest control business opportunities allow you to join one of the fastest growing segments of

                the Indian economy in providing the finest in pest and vegetation control for residential and

                commercial customers across the board.

                As a 3HM business partner, you&#39;ll benefit from:
                <br />
                <br />
                <br />
                <ul style="list-style-type:disc">
                    <li>A protected geographical area</li>
                    <li>Expanded health conscious customer base</li>
                    <li>Compatible services ideally suited to your market</li>
                    <li>Volume buying power/discounts</li>
                    <li>Education and training</li>
                </ul>
            </p>
        </div>
        <div class="span2">
            <img src="~/img/handshake-329_0.jpg" style="height:100%;width:200;max-width:none;" />
        </div>
        <!-- end: Row -->

    </div>
    <!--end: Container-->

</div>
