@{
    ViewBag.Title = "Services";
}
<div id="page-title">
    <div id="page-title-inner">
        <!-- start: Container -->
        <div class="container">
            <h2><i class="ico-group ico-white"></i>Clients & Partners</h2>
        </div>
        <!-- end: Container  -->
    </div>
</div>
<div id="wrapper" style="margin-top:0;">
    <!--start: Container -->
    <div class="container">

        <!-- start: Row -->
        <div class="row" style="font-size:1.2em;">
            <b>Partial list of our clients using our products.</b><br />
            <hr />
            <table>
                <tr style="height:50px;">
                    <td width="500px">
                        <img src="~/img/clients/wipro.jpg" style="height:40px;width:60px;" alt="Logo"> M/s. Wipro
                    </td>
                    <td>
                        <img src="~/img/clients/oberoi.png" style="height:40px;width:60px;" alt="Logo"> The Oberoi Hotel
                    </td>
                </tr>
                <tr style="height:50px;">
                    <td>
                        <img src="~/img/clients/leela.jpg" style="height:40px;width:60px;" alt="Logo"> The Leela Group of Hotels
                    </td>
                    <td>
                        <img src="~/img/clients/beml.jpg" style="height:40px;width:60px;" alt="Logo"> The Bharat Earth Movers Ltd. (BEML)
                    </td>
                </tr>
                <tr style="height:50px;">
                    <td>
                        <img src="~/img/clients/biobee.png" style="height:40px;width:60px;" alt="Logo"> The Biobee
                    </td>
                    <td>
                        <img src="~/img/clients/hal.jpg" style="height:40px;width:60px;" alt="Logo"> The Hindustan Aeronautics Ltd. (HAL)
                    </td>
                </tr>
                <tr style="height:50px;">
                    <td>
                        <img src="~/img/clients/infosys.png" style="height:40px;width:60px;" alt="Logo"> M/s. Infosys
                    </td>
                    <td>
                        <img src="~/img/clients/mes.jpg" style="height:40px;width:60px;" alt="Logo"> The Indian Defense (MES)
                    </td>
                </tr>
                <tr style="height:50px;">
                    <td>M/s. Chitra Vishwanath, Architect</td>
                    <td>M/s. Jaisimh Foundation</td>
                </tr>
                <tr style="height:50px;">
                    <td>M/s. Sarkar Project</td>
                    <td>M/s. Pest Control Associates</td>
                </tr>
                <tr style="height:50px;">
                    <td>The ‘Maitreyi’ The Vedic Village</td>
                    <td>The Premier Construction Co. Goa (L&amp;T Project)</td>
                </tr>
                <tr style="height:50px;">
                    <td>M/s. Green Goa Works</td>
                    <td>M/s. BCIL</td>
                </tr>
                <tr style="height:50px;">
                    <td>Elite Hospital</td>
                    <td>Trichur Cooperative District Hospital</td>
                </tr>
            </table>

            And many other Private Builders, Companies, Villages, Houses, Flats and Farm Houses
        </div>
        <!-- end: Row -->

    </div>
    <!--end: Container-->

</div>
