@{
    ViewBag.Title = "Services";
}
<div id="page-title">
    <div id="page-title-inner">
        <!-- start: Container -->
        <div class="container">
            <h2><i class="ico-group ico-white"></i>Clients & Partners</h2>
        </div>
        <!-- end: Container  -->
    </div>
</div>
<div id="wrapper">

    <!--start: Container -->
    <div class="container">

        <!-- start: Row -->
        <div class="row" style="font-size:1.2em;">
            <b>Partial list of our clients using our products.</b><br />
            <hr />

            <img src="~/img/clients/wipro.jpg" style="height:40px;width:60px;" alt="Logo"> M/s. Wipro<br />

            <img src="~/img/clients/oberoi.png" style="height:40px;width:60px;" alt="Logo"> The Oberoi Hotel<br />

            <img src="~/img/clients/leela.jpg" style="height:40px;width:60px;" alt="Logo"> The Leela Group of Hotels<br />

            <img src="~/img/clients/beml.jpg" style="height:40px;width:60px;" alt="Logo"> The Bharat Earth Movers Ltd. (BEML)<br />

            <img src="~/img/clients/biobee.png" style="height:40px;width:60px;" alt="Logo"> The Biobee<br />

            <img src="~/img/clients/hal.jpg" style="height:40px;width:60px;" alt="Logo"> The Hindustan Aeronautics Ltd. (HAL)<br />

            <img src="~/img/clients/infosys.png" style="height:40px;width:60px;" alt="Logo"> M/s. Infosys<br />

            <img src="~/img/clients/mes.jpg" style="height:40px;width:60px;" alt="Logo"> The Indian Defense (MES)<br />

            M/s. Chitra Vishwanath, Architect<br />

            M/s. Jaisimh Foundation<br />

            M/s. Sarkar Project<br />

            M/s. Pest Control Associates<br />

            The ‘Maitreyi’ The Vedic Village<br />

            The Premier Construction Co. Goa (L&amp;T Project)<br />

            M/s. Green Goa Works<br />

            M/s. BCIL<br />

            Elite Hospital<br />

            Trichur Cooperative District Hospital<br />

            And many other Private Builders, Companies, Villages, Houses, Flats and Farm Houses
        </div>
        <!-- end: Row -->

    </div>
    <!--end: Container-->

</div>
