  <!-- start: Slider -->
<div class="slider-wrapper">
    <div id="da-slider" class="da-slider">
        <div class="da-slide">
            <h2>100% Organic</h2>
            <p>3HM conducts effective pest control and fumigation using 100% organic, non-toxic pest control agents. Our organic compounds are herbs and leaves extracts and has no chemicals.</p>
            @Html.ActionLink("Read more", "Services", "Home", null, new { @class = "da-link" })
            <div class="da-img"><img src="~/img/parallax-slider/green1.png" alt="image01" style="height:350px;" /></div>
        </div>
        <div class="da-slide">
            <h2>Healthy</h2>
            <p>Our commitment to your health is front and centre in all aspects of our pest control practice. Our dedication to the mission is solid. Our service technicians are more than exterminators, and our results are always guaranteed.</p>
            @Html.ActionLink("Read more", "Services", "Home", null, new { @class = "da-link" })
            <div class="da-img"><img src="~/img/parallax-slider/healthy.png" alt="image02" /></div>
        </div>
        <div class="da-slide">
            <h2>Exterminator</h2>
            <p>We use the safest products and techniques performed by licensed technicians who have elevated the word &quot;exterminator&quot; by undergoing continuous training and licensing and demonstrating a commitment to the environment.</p>
            @Html.ActionLink("Read more", "Services", "Home", null, new { @class = "da-link" })
            <div class="da-img"><img src="~/img/parallax-slider/roach1.png" alt="image03" /></div>
        </div>
        <nav class="da-arrows">
            <span class="da-arrows-prev"></span>
            <span class="da-arrows-next"></span>
        </nav>
    </div>

</div>

<!--start: Wrapper-->
<div id="wrapper">

    <!--start: Container -->
    <div class="container">

        <!-- start: Hero Unit - Main hero unit for a primary marketing message or call to action -->
        <div class="hero-unit">
            <p>
                3HM is a non-toxic and organic pest control solution provider; we&#39;ve redefined the term &quot;exterminator&quot; by advancing pest management services (including termite control, ant control, rodent control, roach extermination, and much more) while maintaining an earnest concern for the environment and the safety of our customers and employees.
            </p>
            <p>@Html.ActionLink("Learn more &raquo;", "Services", "Home", null, new { @class = "btn btn-success btn-large" })</p>
        </div>
        <!-- end: Hero Unit -->
        <hr>

        <!-- start: Row -->
        <div class="row">

            <!-- start: Icon Boxes -->
            <div class="icons-box-vert-container">
                <!-- start: Icon Box Start -->
                <div class="span6">
                    <div class="icons-box-vert">
                        <i class="ico-ok ico-color circle-color big"></i>
                        <div class="icons-box-vert-info">
                            <h3>Environment Friendly</h3>
                            <p>We have taken charge of a once environmentally hazardous industry, developing eco-friendly and organic options to arrest pest infestations. 3HM conducts effective pest control and fumigation using 100% organic, non-toxic pest control agents. Our organic compounds are herbs and leaves extracts and has no chemicals. This makes our services free of health hazards such as dizziness, allergy, sneezing, cardio-vascular diseases, respiratory diseases etc..</p>
                            <div class="clear"></div>
                        </div>
                    </div>
                    <!-- end: Icon Box-->
                </div>
                <!-- start: Icon Box Start -->
                <div class="span6">
                    <div class="icons-box-vert">
                        <i class="ico-cup  ico-white circle-color-full big-color"></i>
                        <div class="icons-box-vert-info">
                            <h3>Practice</h3>
                            <p>Our commitment to your health is front and centre in all aspects of our pest control practice. Our dedication to the mission is solid. Our service technicians are more than exterminators, and our results are always guaranteed. Monitoring, identifying, diagnosing, and target-specific prescriptions are the foundation of our pest control practice, supporting the safe elimination of pest problems while providing protection from future occurrences.</p>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <!-- end: Icon Box -->
                <!-- start: Icon Box Start -->
                <div class="span6">
                    <div class="icons-box-vert">
                        <i class="ico-ipad ico-color circle-color big"></i>
                        <div class="icons-box-vert-info">
                            <h3>Quality</h3>
                            <p>3HM is a non-toxic and organic pest control solution provider; we&#39;ve redefined the term &quot;exterminator&quot; by advancing pest management services (including termite control, ant control, rodent control, roach extermination, and much more) while maintaining an earnest concern for the environment and the safety of our customers and employees.</p>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <!-- end: Icon Box -->
                <!-- start: Icon Box Start -->
                <div class="span6">
                    <div class="icons-box-vert">
                        <i class="ico-thumbs-up  ico-white circle-color-full big-color"></i>
                        <div class="icons-box-vert-info">
                            <h3>Solutions</h3>
                            <p>We take pride in offering the most creative pest control solutions. We use the safest products and techniques performed by licensed technicians who have elevated the word &quot;exterminator&quot; by undergoing continuous training and licensing and demonstrating a commitment to the environment. That&#39;s why 3HM services are the right choice for homes, businesses, schools and governmental agencies alike.</p>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <!-- end: Icon Box -->
            </div>
            <!-- end: Icon Boxes -->
            <div class="clear"></div>
        </div>
        <!-- end: Row -->

        <hr>

    </div>
    <!--end: Container-->

</div>
<!-- end: Wrapper  -->
<!-- end: Slider -->
