@{
    ViewBag.Title = "Services";
}
<div id="page-title">
    <div id="page-title-inner">
        <!-- start: Container -->
        <div class="container">
            <h2><i class="ico-cargo ico-white"></i>Products</h2>
        </div>
        <!-- end: Container  -->
    </div>
</div>
<div id="wrapper">

    <!--start: Container -->
    <div class="container">

        <!-- start: Row -->
        <div class="row">


            <div class="span4">
                <div class="icons-box">
                    @*<i class="ico-ok ico-brightness-reduce circle-color-full big-color"></i>*@
                    <div class="title"><h3>Bugsac 9</h3></div>
                    <p>
                        It is a thin leafy green liquid and used for intense pest infested areas e.g. drains, ponds, waste area, common use toilets in hospitals, gattors etc. In hospitals it is used to disinfect ICU, CCU, OT and other infection prone areas. It is safe to handle, harmless to spillage and skin/eye contact.
                    </p>
                    <div class="clear"></div>
                    <a href="~/Content/3HM -Product Info - Bugsac D9.pptx" class="btn btn-small btn-success">Download Details</a>
                </div>
            </div>
            <div class="span4">
                <div class="icons-box">
                    @*<i class="ico-ok ico-white circle-color-full big-color"></i>*@
                    <div class="title"><h3>Pynodor 4</h3></div>
                    <p>
                        It a cloudy white solution and is used for regular pest control by mopping (diluted in various proportions) and spraying. It has a local effect on the area and repells mosquitoes, flies, ants, spiders and other pests. Pynodor is perfect for food storage areas, canteens, kitchen, food industries, living rooms and bed rooms.
                    </p>
                    <div class="clear"></div>
                    <a href="~/Content/3HM -Product Info - Pynodor 4.pptx" class="btn btn-small btn-success">Download Details</a>
                </div>
            </div>
            <div class="span4">
                <div class="icons-box">
                    @*<i class="ico-ok ico-brightness-reduce circle-color-full big-color"></i>*@
                    <div class="title"><h3>Mealisac</h3></div>
                    <p>
                        It is a biege coloured thick liquid used to spray in horticulture, agriculture, poultry farms, gardens and various other farms. It is a boon for organic farming as apart from eradicating plant pests, it also maintains the organic nature of the farm. Additionally it is a growth booster which restores the greenness and health of the plants down to the flower and fruit level.
                    </p>
                    <div class="clear"></div>
                    <a href="~/Content/3HM -Product Info - Mealisac.pptx" class="btn btn-small btn-success">Download Details</a>
                </div>
            </div>
        </div>
        <!-- end: Row -->

    </div>
    <!--end: Container-->

</div>
