
@{
    ViewBag.Title = "Services";
}
<div id="page-title">
    <div id="page-title-inner">
        <!-- start: Container -->
        <div class="container">
            <h2><i class="ico-settings ico-white"></i>Services</h2>
        </div>
        <!-- end: Container  -->
    </div>
</div>
<div id="wrapper">

    <!--start: Container -->
    <div class="container">

        <!-- start: Row -->
        <div class="row">

          
            <div class="span12">
                <div class="icons-box">
                    @*<i class="ico-ok ico-brightness-reduce circle-color-full big-color"></i>*@
                    <div class="title" style="text-align:left;"><h3>Pest control for homes</h3></div>
                    <p class="span4">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                    </p>
                    <div class="span6">
                        <img src="~/img/logos/10.png" />
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="span12">
                <div class="icons-box">
                    @*<i class="ico-ok ico-white circle-color-full big-color"></i>*@
                    <div class="title" style="text-align:right;"><h3>Pest control for hospitals</h3></div>
                    <div class="span6">
                        <img src="~/img/logos/3.png" />
                    </div>
                    <p class="span4">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                    </p>
                    
                    <div class="clear"></div>
                </div>
            </div>
            <div class="span12">
                <div class="icons-box">
                    @*<i class="ico-ok ico-brightness-reduce circle-color-full big-color"></i>*@
                    <div class="title" style="text-align:left;"><h3>Pest control for hotels</h3></div>
                    <p class="span4">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                    </p>
                    <div class="span6">
                        <img src="~/img/logos/7.png" />
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="span12">
                <div class="icons-box">
                    @*<i class="ico-ok ico-white circle-color-full big-color"></i>*@
                    <div class="title" style="text-align:right;"><h3>Pest control for farms and gardens</h3></div>
                    <div class="span6">
                        <img src="~/img/logos/5.png" />
                    </div>
                    <p class="span4">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                    </p>
                   
                    <div class="clear"></div>
                </div>
            </div>
            <div class="span12">
                <div class="icons-box">
                    @*<i class="ico-ok  circle-color-full big-color"></i>*@
                    <div class="title" style="text-align:left;"><h3>Fumigation of shipment containers and warehouses</h3></div>
                    <p class="span4">
                        Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.
                    </p>
                    <div class="span6">
                        <img src="~/img/logos/1.png" />
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <!-- end: Row -->

    </div>
    <!--end: Container-->

</div>
