@{
    ViewBag.Title = "Services";
}
<div id="page-title">
    <div id="page-title-inner">
        <!-- start: Container -->
        <div class="container">
            <h2><i class="ico-settings ico-white"></i>Services</h2>
        </div>
        <!-- end: Container  -->
    </div>
</div>
<div id="wrapper" style="margin-top:0;">
    <!--start: Container -->
    <div class="container">

        <!-- start: Row -->
        <div class="row">


            <div class="span12">
                <div class="icons-box">
                    @*<i class="ico-ok ico-brightness-reduce circle-color-full big-color"></i>*@
                    <div class="title" style="text-align:left;"><h3>Pest control for homes</h3></div>
                    <p class="span4" style="text-align:left;">
                        Our services are at your doorstep to make your home pest-free and yet leave no traces of poisonous chemicals in your home environment. Which means that you and your children can now breathe clean air even after the pest treatment without any risk of respiratory problems, cardio vascular challenges etc apart from temporary dizziness, nausea, allergy attacks. All this only because we use herbal compounds in pest control.
                    </p>
                    <div class="span6" style="float:right;position:relative;">
                        <img src="~/img/ganesha_dr.jpg" />
                        <img src="~/img/logos/10.png" style="position:absolute;height:120px;width:200px;top:200px;left:275px;" />
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="span12">
                <div class="icons-box">
                    @*<i class="ico-ok ico-white circle-color-full big-color"></i>*@
                    <div class="title" style="text-align:right;"><h3>Pest control for hospitals</h3></div>
                    <div class="span6" style="position:relative;">
                        <img src="~/img/logos/3.png" />
                        <img src="~/img/logos/2.png" style="position:absolute;height:120px;width:200px;top:220px;left:-20px;" />
                    </div>
                    <p class="span4" style="text-align:right;float:right;">
                        3HM service is specially sensitive for hospitals where the weak come to restore their health. It is unacceptable that patients get affected by the hazardous chemicals of conventional pest control services. Moreover the ICU, CCU and even the OT can now be free from any pests without having to worry about the air quality within its closed walls. Which means less risk of hospital induced infections, lesser chances of slow-recovery of patients. The herbal compounds we use provides an extremely safe environment and air not only for the weak patients but also the hospital staff to breathe.
                    </p>

                    <div class="clear"></div>
                </div>
            </div>
            <div class="span12">
                <div class="icons-box">
                    @*<i class="ico-ok ico-brightness-reduce circle-color-full big-color"></i>*@
                    <div class="title" style="text-align:left;"><h3>Pest control for hotels</h3></div>
                    <p class="span4" style="text-align:left;">
                        Hotels witness a constant pouring of guests - resident as well as banquet. Our pest control frees the hotel rooms, restaurants, kitchen, common areas, storage areas of insects and adds to the comfort of the hotel guests with its sweet lemony odour. Our product can also be purchased off the counter and used as a cleansing agent and disinfectant on hotel crockery, cutlery, decor and furniture with elan.
                    </p>
                    <div class="span6" style="float:right;position:relative;">
                        <img src="~/img/logos/7.png" />
                        <img src="~/img/logos/8.png" style="position:absolute;height:120px;width:200px;top:360px;left:275px;" />
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
            <div class="span12">
                <div class="icons-box">
                    @*<i class="ico-ok ico-white circle-color-full big-color"></i>*@
                    <div class="title" style="text-align:right;"><h3>Pest control for farms and gardens</h3></div>
                    <div class="span6" style="position:relative;">
                        <img src="~/img/logos/5.png" />
                        <img src="~/img/logos/9.png" style="position:absolute;height:120px;width:200px;top:190px;left:-20px;" />
                    </div>
                    <p class="span4" style="float:right;text-align:right;">
                        We provide plant pesticide as a product as well as spraying services for farms. The regular outlined spraying not only kills the plant pests in the first three sprays but also keeps them away from the farm. Apart from this, it has an additional benefit of acting as a growth booster for plants. We find ourselves fortunate to be working with organic farms where there is an intense need of organic pesticides. Regular usage has shown greater yields in various kinds of crops.
                    </p>

                    <div class="clear"></div>
                </div>
            </div>
            <div class="span12">
                <div class="icons-box">
                    @*<i class="ico-ok  circle-color-full big-color"></i>*@
                    <div class="title" style="text-align:left;"><h3>Fumigation of shipment containers and warehouses</h3></div>
                    <p class="span4" style="text-align:left;">
                        It is a mandate in many countries to import only fumigated containers from the export countries. Our services help containers in large ports of lading by fumigating the pallets using our intense pest control agent. The pallets are then ready to transport material ranging from leather to even food products to far away lands through sea route.
                    </p>
                    <div class="span6" style="float:right;position:relative;">
                        <img src="~/img/logos/1.png" />
                        <img src="~/img/logos/6.png" style="position:absolute;height:120px;width:200px;top:250px;left:275px;" />
                    </div>
                    <div class="clear"></div>
                </div>
            </div>
        </div>
        <!-- end: Row -->

    </div>
    <!--end: Container-->

</div>
